::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar {
  width: 12px;
  background-color: #1f1f1f; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

html {
  overflow-y: hidden; }

#backend {
  height: 100%; }
  #backend body {
    width: 100%;
    min-width: 1240px;
    height: 100%;
    color: #fff; }
  #backend #wrapper {
    height: 100%; }
    #backend #wrapper .backend.view {
      height: 100%; }
      #backend #wrapper .backend.view > .content {
        height: 100%; }
  #backend header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 42px;
    background: rgba(21, 21, 21, 0.8); }
    #backend header .logo {
      display: inline-block;
      width: 64px;
      height: 100%;
      vertical-align: middle;
      background: url("../images/hd64.png") no-repeat center center;
      background-size: 60%; }
    #backend header nav {
      display: inline-block;
      height: 100%; }
    #backend header menu {
      display: inline-block;
      padding: 0 15px;
      line-height: 42px; }
      #backend header menu a {
        font-size: 14px;
        color: #fff; }
  #backend #mainer {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: calc(100% - 42px); }
    #backend #mainer > .content {
      position: relative;
      top: 0;
      box-sizing: border-box;
      height: 100%; }
    #backend #mainer nav.left {
      position: fixed;
      top: 42px;
      left: 0;
      z-index: 100;
      width: 64px;
      height: 100%;
      background: #1f1f1f; }
      #backend #mainer nav.left menu {
        height: 64px;
        text-align: center;
        border-bottom: 3px solid rgba(15, 15, 15, 0.3); }
        #backend #mainer nav.left menu:last-child {
          border-bottom: none; }
        #backend #mainer nav.left menu:hover,
        #backend #mainer nav.left menu .selected {
          background: rgba(0, 0, 0, 0.3);
          cursor: pointer; }
        #backend #mainer nav.left menu a {
          display: inline-block;
          line-height: 64px;
          font-size: 28px;
          color: #c3c3c3;
          text-decoration: none; }
    #backend #mainer section.center {
      position: absolute;
      top: 0;
      left: 64px;
      z-index: 10;
      box-sizing: border-box;
      overflow-y: scroll;
      width: 476px;
      max-height: 100%;
      min-height: 100%; }
    #backend #mainer section.right {
      position: absolute;
      top: 0;
      left: calc(64px + 476px);
      right: 0;
      z-index: 10;
      box-sizing: border-box;
      height: 100%;
      background: #1f1f1f; }
  #backend .list.content {
    padding: 2px; }
    #backend .list.content dd {
      margin: 2px;
      padding: 5px 8px;
      background: rgba(255, 255, 255, 0.05); }
      #backend .list.content dd:hover {
        background: rgba(155, 155, 155, 0.15); }
      #backend .list.content dd ul {
        display: flex; }
        #backend .list.content dd ul li {
          display: inline-block; }
  #backend .candidate.list .cols-1 {
    flex: 3; }
  #backend .candidate.list .cols-2 {
    flex: 5; }
  #backend .candidate.list .cols-3 {
    flex: 1; }

/*# sourceMappingURL=layout.css.map */
