<section class="content login-pg">
    <div class="login-form">
        <form>
            <dl>
                <dd>
                    <label>
                        <span>Email</span>
                        <input type="text" name="email" ng-model="login.email" placeholder="请输入你的邮箱" autocomplete="off" />
                    </label>
                </dd>
                <dd>
                    <label>
                        <span>Password</span>
                        <input type="password" name="password" placeholder="请输入密码"
                               ng-model="login.password" />
                    </label>
                </dd>

                <dd class="mt10px">
                    <a href="javascript:;" class="btn">登录</a>
                    <a class="ml3px"
                       ui-sref="b.m.candidate">候选人</a>
                    <a class="ml3px"
                       ng-href="javascript:;"
                       ng-click="login.test($event,'click name')">事件</a>
                </dd>
            </dl>
        </form>
    </div>
</section>


