<div class="content">
    <header>
        <span class="logo"></span>
        <nav>
            <menu>
                <a ng-href="javascript:;" ui-sref="backend.candidate">候选人</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="backend.interview">面试</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="backend.position">职位</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="backend.talent">人才库</a>
            </menu>
        </nav>
    </header>
    <div id="mainer">
        <div class="content">
            <nav class="left">
                <menu>
                    <a ng-href="javascript:;" ui-sref="backend.candidate">候</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="backend.interview">面</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="backend.position">职</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="backend.talent">库</a>
                </menu>
            </nav>
            <section class="center" ui-view="main">

            </section>
            <section class="right" ui-view="detail">

            </section>
        </div>
    </div>
    <footer>

    </footer>
</div>