<div class="content">
    <header>
        <span class="logo"></span>
        <nav>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.candidate">候选人</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.interview">面试</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.position">职位</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.talent">人才库</a>
            </menu>
        </nav>
    </header>
    <div id="mainer">
        <div class="content">
            <nav class="left">
                <menu>
                    <a ng-href="#/candidate" ui-sref="b.m.candidate">候</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="b.m.interview">面</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="b.m.position">职</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="b.m.talent">库</a>
                </menu>
            </nav>
            <section class="main" ui-view="main"></section>
        </div>
    </div>
    <footer>

    </footer>
</div>